@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

html, body, #root, span {
  height: 100%;
  margin: 0;
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-style: normal;
}

p,nav,a{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}